*{
    margin: 0px;
    padding: 0px;
}
.header{
    height: 80px;
    background-color: #E7C0C0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.logo{
    width: 100px;
    height: auto;
}

.paragrafo_header{
    font-family:'Inter';
    font-weight: 700;
    font-style: italic;
    font-size: 40px;
}